p{color:Blue;}
.Tech{opacity: .6;}
html{background-color: green;}
#3{Font-family: Fantasy;}
Html{Font-size: 18px;}
Html{Font-Family: Fantasy;}
html{font-weight: bold;}
html{text-transform: uppercase;}
html{line-height: 15px;}
html{word-spacing: 5px;}